// Подключаемые шрифты =============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap');
// Шрифт по умолчанию ==============================================================================================
$fontfamilly:"Lato";
// ПЕРЕМЕННЫЕ ======================================================================================================
$minwidth:320px;
// МИКСИНЫ =========================================================================================================
@import "mixins.scss";
// ОБНУЛЕНИЕ =======================================================================================================
@import "null.scss";
// HEADER & FOOTER =================================================================================================
@import "header.scss";
// @import "footer.scss";
// IBG =============================================================================================================
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    img {
        display: none;
    }
}
/* .ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
} */
// ОБОЛОЧКА ========================================================================================================
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
// ОСНОВНАЯ СЕТКА ==================================================================================================
.container {
    max-width: 1130px;
    padding: 0 15px;
}

// ОСНОВНОЙ БЛОК ===================================================================================================
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;
		&__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
}
.content {

}


